.App {
  display: flex;
  justify-content: center;
}

.header {
  background-color: lightgray;
  padding: 12px 20px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.wrapper {
  width: 50%;
}

@media (max-width: 801px) {
  .wrapper {
    width: 100%;
  }
}
